<div class="container my-5">
  <h1 class="mb-4 fw-bold">Nos voitures</h1>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% 6.times do %>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/random/400x250/?apartment" class="card-img-top" alt="Appartement">
          <div class="card-body">
            <h5 class="card-title">Cabane à Le Cap</h5>
            <p class="card-text">83 € pour 2 jours • ⭐ 4,94</p>
            <a href="#" class="btn btn-outline-primary btn-sm">Voir la cabane</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
