<div class="bg-light py-5 text-center">
  <div class="container">
    <h1 class="display-4 fw-bold">Trouvez votre cabane de rêve</h1>
    <p class="lead">Un week-end insolite dans la nature vous attend.</p>
  </div>
</div>


<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Logements populaires · Le Cap</h1>
    <a href="#">Voir plus</a>
  </div>r

  <div class="row mt-3 overflow-auto flex-nowrap" style="white-space: nowrap;">
  <% if @flats.nil? %>
  <p>Aucun logement trouvé.</p>
<% else %>
    <% @flats.each do |flat| %>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm">
      <% if flat.photo.attached? %>
        <%= image_tag flat.photo, class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <h5><%= flat.name %></h5>
        <p><%= truncate(flat.description, length: 100) %></p>
        <%= link_to "Voir la cabane", flat_path(flat), class: "btn btn-dark" %>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
  </div>
</div>
